<head>
    <title>Vendor Inivitation Email</title>
  </head>
  <body>
    <%t=Time.now%>
    Hello <%=@vendor_owner.name.capitalize%>,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your account have been activated by VMS Admin.
Please contact VMS Admin Department for any assistance or enquiries.<br/><br/><br/>

Regards,<br/>
<font style="color:black; font-size:15px; font-family:Arial"> VMS Admin</font>      
</body>
